.discounts {
  padding-top: 89px;

  &__header {
    &__text {
      text-align: center;
      font-size: 32px;
      margin-bottom: 25px;
    }

    &__button {
      display: none;
      letter-spacing: 0.05em;
    }
  }

  &-slider {
    // border: 2px solid #0a0;
    height: 322px;
    &__wrapper {
      gap: 10px;
      transform: translateX(30px);
    }
    &__slide {
      min-width: 250px;
      width: 250px;
      height: 322px;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: $main;
      color: #fff;

      &__content {
        @include flexCol(10px);
        // time {
        //   color: #fff8;
        // }
        // img {
        //   display: none;
        //   height: 200px;
        //   width: 210px;
        //   border-radius: 10px;
        //   object-fit: cover;
        // }
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
        }

        header {
          display: flex;
        }
        p {
          line-height: 1.5em;
        }
      }
      button {
      }

      &__poster {
        display: none;
        height: 200px;
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
      }

      &__disc-img {
        width: 60px;
        height: 60px;
      }
    }
    .slider-button-L,
    .slider-button-R {
      top: 131px;
      // background-color: #ff0;
    }

    .slider-button-L {
      left: -10px;
    }
    .slider-button-R {
      right: -10px;
    }
  }

  &__footer {
    padding-top: 40px;
    @include flexCenter();
    &__button {
    }
    &__ico {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-medium) {
  .discounts {
    padding-top: 67px;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      &__text {
        text-align: left;
        font-size: 64px;
      }

      &__button {
        display: block;
      }
    }

    &-slider {
      height: 700px;

      &__wrapper {
        gap: 30px;
      }
      &__slide {
        min-width: 400px;
        height: 580px;
        border-radius: 30px;
        padding: 50px;

        &__content {
          @include flexCol(10px);
          time {
            // color: #0008;
            font-size: 16px;
          }
          h3 {
            font-size: 32px;
            margin-bottom: 15px;
          }
          p {
            font-size: 16px;
          }
        }
        button {
        }

        &__poster {
          display: block;
        }
      }
      .slider-button-L,
      .slider-button-R {
        top: 263px;
      }

      .slider-button-L {
        left: 10px;
      }
      .slider-button-R {
        right: 10px;
      }
    }

    &__footer {
      padding-top: 40px;
      @include flexCenter();
      &__button {
        display: none;
      }
      &__ico {
        display: block;
      }
    }
  }
}
