.news {
  border: 1px solid #ff0;
  &-slider {
    border: 1px solid #0f0;

    overflow: hidden;
    position: relative;
    height: 500px;

    &__wrapper {
      // height: 500px;
      display: flex;
      height: 100%;
      width: 1000%;
      margin: 10px 0;
      border: 1px solid #08f;
    }
    &__slide {
      width: 700px;
      // height: 300px;
      height: 100%;
      // margin: 10px 0px;
      // margin-top: 10px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 1px 3px #0003, 0 4px 6px #0003;
    }
    &__button {
      position: absolute;
      top: 30px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 2px 3px #0003, 0 5px 15px #0003;
      @include flexCenter();
      user-select: none;
      cursor: pointer;
      font-size: 30px;
      width: 50px;
      height: 50px;
      &-prev {
        left: 0px;
      }
      &-next {
        right: 0px;
      }
    }
  }
}

.anvio-slider {
  position: relative;
  height: 750px;
  overflow: hidden;
  // margin-left: 30px;
  &__wrapper {
    display: flex;
    // border: 1px solid #f;
    // background-color: #f003;
    // transform: translate();
    transition: all 0.1s;
    padding: 15px;
    gap: 30px;

    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }

  &__slide {
    background-color: #fff;
    // border: 1px solid #ccc;
    min-width: 400px;
    height: 700px;
    border-radius: 30px;
    padding: 50px;
    font-size: 16px;
    // margin-left: 15px;
    @include flexCenter();
    // margin: 20px;
  }

  &__button {
    &-prev,
    &-next {
      position: absolute;
      box-shadow: $modal-shadow;
      // font-size: 32px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fff;
      top: 323px;
      cursor: pointer;
      user-select: none;
      background-image: url('/src/assets/arrow_left.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &-prev {
      left: 10px;
    }

    &-next {
      right: 10px;
      // transform: rotate(180deg);
      background-image: url('/src/assets/arrow_right.svg');
    }
  }
}
