.footer {
  &__bottom {
    background-color: #1e1e1e;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    & > * {
      margin: 0 41px;
    }

    & > *:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

@media screen and (min-width: $screen-medium) {
  .footer {
    &__bottom {
      font-size: 16px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 30px 80px;
    }
  }
}

@media screen and (min-width: $screen-big) {
  .footer {
    &__bottom {
      padding: 50px 120px;

      & > *:nth-child(2) {
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}

@media screen and (min-width: $screen-huge) {
  .footer {
    &__bottom {
      padding: 50px 185px;

      & > *:nth-child(2) {
        gap: 30px;
      }
    }
  }
}
